<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <h3>{{ connected }}</h3>
    <form action="" method="post">
        <div class="input-group col-xs-4">
            <input type="text" id="myCOMInput" class="form-control" placeholder="COM-Port" required>
            <span class="input-group-btn">
                 <button id="submitCOMInput" class="btn btn-default" type="button">Submit</button>
            </span>
         </div>
    </form>
  </div>
</div>